body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}
#main-container{
    display: grid;
    grid-template-rows: 60px 2fr 1fr 60px ;
    height: 100vh;
}
#top-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.green-background {
    background-color: green;
    display: grid;
    justify-content: center;
    align-items: center;
}
.yellow-background {
    background-color: yellow;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pink-background {
    background-color: fuchsia;
    display: grid;
    justify-content: center;
    align-items: center;
}

#middle-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    
}
.blue-background {
    background-color: blue;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
#vertical-middle-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
.red-background {
    background-color: red;
    height: 100%; 
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.lightgreen-background {
    background-color: lightgreen;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    
}


.purple-background {
    background-color: purple;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
